__pycache__/
*.py[cod]
.venv/
.venv-kokoro/
.venv-chatterbox/
venv/
build/
dist/
release_assets/
*.spec
config.json
logs/
output/*.mp3
output/*.wav
engines/piper/*
!engines/piper/PIPER_RUNTIME_INFO.txt
engines/kokoro/*.exe
engines/chatterbox/*.exe
engines/chatterbox/chatterbox_engine/
voices/**/*.onnx
voices/**/*.onnx.json
ffmpeg/*.exe
music/**/*.mp3
music/**/*.wav
